.actionPanel {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: auto;
}

.actionButton {
  display: flex;
  align-items: center;
  column-gap: 5px;
  color: #fff;
}
