* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  max-width: 100%;
}

html,
body {
  overflow-x: hidden;
  font-family: "Roboto", sans-serif;
  color: #57585a;
  font-weight: 400;
}

#root {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
